*{margin:0px; padding:0px}
.mar p{
font-family:arial;
font-size:50px;
color:#ddd
}
.well a{
	display:inline-block:
	padding:10px 20px;
	color:#FFF;
	background-color:#000;
	margin:10px 0px;
}
x